{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "lodash",
    "graphql-tag",
    "transform-react-jsx",
    "syntax-dynamic-import",
    "babel-plugin-styled-components",
    "@babel/plugin-syntax-jsx",
    "@babel/plugin-transform-runtime",
    "@babel/transform-arrow-functions",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    ["import", { "libraryName": "antd", "style": "css" }]
  ]
}
